<ion-pane ng-controller="DetailsController">
  <ion-header-bar class="bar-stable">
  <button ng-click="goBack()">Back</button>
    <h1 class="title">myBus Details</h1>
  </ion-header-bar>
  <ion-content>
    <h2>{{ routeDetails.route.title }}</h2>
    <p>{{ routeDetails.stop.title }}</p>
    <p>{{ routeDetails.stop.distance }}</p>
    <div ng-repeat="value in routeDetails.values">
      <p><strong>{{ value.direction.title }}</strong></p>
      <p>{{ value.minutes }} Minutes</p>
    </div>

    <div id='mapContainer' style='margin: 0; padding: 0; height: 400px; width: 500px;'></div>

  </ion-content>
</ion-pane>
