<ion-view view-title="Routes">
  <ion-content>
  <input ng-model='routeSearch.route.title'>
    <div ng-repeat="route in routes | toArray | orderBy:'stop.distance' | filter:routeSearch">
      <a class="item item-thumbnail-left" ui-sref="app.details({routeId:route.route.id})">
        <img src="img/map.gif">
        <h2>{{ route.route.title }}</h2>
        <p>{{ route.stop.title }}</p>
        <p>{{ route.stop.distance }}</p>
        <div ng-repeat="value in routes.values">
          <p><strong>{{ value.direction.title }}</strong></p>
          <p>{{ value.minutes }} Minutes</p>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>

<!--<ion-pane>-->
  <!--<ion-header-bar class="bar-stable">-->
    <!--<h1 class="title">myBus</h1>-->
  <!--</ion-header-bar>-->
  <!--<ion-content ng-controller="HomeController">-->
    <!--<div ng-repeat="busRoutes in stops | orderBy:'busRoutes.stop.distance'" ng-click='changePage(busRoutes, "busRoutes")'>-->
      <!--<a class="item item-thumbnail-left">-->
        <!--<img src="img/map.gif">-->
        <!--<h2>{{ busRoutes.route.title }}</h2>-->
        <!--<p>{{ busRoutes.stop.title }}</p>-->
        <!--<p>{{ busRoutes.stop.distance }}</p>-->
        <!--<div ng-repeat="value in busRoutes.values">-->
          <!--<p><strong>{{ value.direction.title }}</strong></p>-->
          <!--<p>{{ value.minutes }} Minutes</p>-->
        <!--</div>-->
      <!--</a>-->
    <!--</div>-->
  <!--</ion-content>-->
<!--</ion-pane>-->